@import "../../assets/styles/variables";
:host {
  height: 100%;

  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .no-projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        font-size: 20rem;
        color: #464646;
      }
      p {
        font-size: 1.6rem;
        color: #777;
      }
    }
  }
}
