$background: #2d2d2d;
$primary-color: #1e1e1f;
$secondary-color: #282829;
$accent: #fec060;
$text-color: #d6d6d6;
$title-color: #fafafa;
$border-radius: 1rem;
$border: 1px solid #343434;
$transition: 0.2s ease;
// CSS Reset
