<div class="photo">
  <img src="assets/images/caio2.jpg" alt="Profile Picture" />
</div>
<h1 class="name">{{ me.name }}</h1>
<p class="title">{{ me.title }}</p>
<div class="data">
  @for (item of dataItems; track item) {
  <div class="data-item">
    <span class="material-symbols-outlined">{{ item.icon }}</span>
    <div>
      <span class="label">{{ item.label }}</span>
      <span class="value">{{ item.value }}</span>
    </div>
  </div>
  }
</div>
<div class="social-links">
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
</div>
