<div class="photo">
  <img src="assets/images/caio2.jpg" alt="Profile Picture" />
</div>
<h1 class="name">{{ me.name }}</h1>
<p class="title">{{ me.title }}</p>
<div class="data">
  <div class="data-item">
    <span class="label">Email:</span>
    <span class="value">{{ me.email }}</span>
  </div>
  <div class="data-item">
    <span class="label">Location:</span>
    <span class="value">{{ location.city }}, {{ location.country }}</span>
  </div>
</div>
<div class="social-links">
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
  <a href="#" class="social-link" target="_blank" rel="noopener noreferrer">
    <i class="icon"></i>
  </a>
</div>
