@import "../../assets/styles/variables";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  section.photo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .photo {
      width: 150px;
      height: 150px;
      border-radius: $border-radius;
      overflow: hidden;
      // border: $border;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .name-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      .name {
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color;
      }
      .title {
        background-color: $secondary-color;
        border-radius: 0.5rem;
        padding: 0.3rem 1rem;
      }
    }
  }

  section.data {
    border-top: $border;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    .data-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      div {
        display: flex;
        flex-direction: column;
        .label {
          font-weight: bold;
          font-size: 0.7rem;
          color: #777778;
        }
        .value {
          color: $text-color;
        }
      }
    }
  }
  section.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    a {
      color: $primary-color;
      font-size: 1.5rem;
      transition: color $transition;
      i {
        color: $text-color;
      }
      &:hover {
        color: darken($primary-color, 10%);
      }
    }
  }
}

.material-symbols-outlined {
  color: $accent;
}

@media screen and (max-width: 768px) {
  :host {
    padding: 1rem;
    align-items: start;
    width: 100%;
    section {
      width: 100%;
    }
    section.photo-name {
      flex-direction: row;
      .name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          font-size: 1.2rem;
        }
      }
    }
    section.data {
      .data-item {
        .label {
          font-size: 1.2rem;
        }
        .value {
          font-size: 1.2rem;
        }
      }
    }
  }
}
